.banner{
    background-image: url('https://firebasestorage.googleapis.com/v0/b/fotosspotysabado-7deaf.appspot.com/o/banner2.jpg?alt=media&token=3715aef2-1286-43b6-bd01-80650e46473b');
    background-position: top center;
    background-size: cover;
    padding: 10% 30% 40% 5%;
}